[submodule "osmpbf"]
	path = osmpbf
	url = git@github.com:marctuscher/osmpbf.git
[submodule "src/sparsehash"]
	path = src/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "sparsepp"]
	path = sparsepp
	url = git@github.com:marctuscher/sparsepp.git
[submodule "Simple-Web-Server"]
	path = Simple-Web-Server
	url = git@github.com:marctuscher/Simple-Web-Server.git
