[submodule "osmpbf"]
	path = osmpbf
	url = https://github.com/marctuscher/osmpbf.git
[submodule "Simple-Web-Server"]
	path = Simple-Web-Server
	url = https://github.com/marctuscher/Simple-Web-Server.git
