<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">NoogleCaps</a>
    <form class="form-inline"> Search route by:
        <select [(ngModel)]="selectedRoute" name="name" class="dropdown">
          <option value="id">NodeID</option>
          <option value="coordinate">Coordinates</option>
          <option value="place">Place</option>
        </select>
        <form *ngIf="selectedRoute == 'place'">
          <input [(ngModel)]="StartLocation.address" class="form-control" type="text"
                 placeholder="Enter a place to start" (keyup.enter)="startPoint()" name="StartLocation">
          <input [(ngModel)]="TargetLocation.address" class="form-control" type="text"
                 placeholder="Enter a place to go" (keyup.enter)="targetPoint()" name="TargetLocation">
        </form>
        <form *ngIf="selectedRoute == 'coordinate'">
          <input [(ngModel)]="StartLocation.latitude" (change)="updateService()" class="form-control" type="text"
                  placeholder="Enter Startlatitude" name="StartLocationLat">
          <input [(ngModel)]="StartLocation.longitude" (change)="updateService()" class="form-control" type="text"
                 placeholder="Enter Startlongitude" name="StartLocationLong">
          <input [(ngModel)]="TargetLocation.latitude" (change)="updateService()" class="form-control" type="text"
                  placeholder="Enter Targetlatidude" name="TargetLocationLat">
          <input [(ngModel)]="TargetLocation.longitude" (change)="updateService()" class="form-control" type="text"
                 placeholder="Enter Targetlongitude" name="TargetLocationLong">
        </form>
        <form *ngIf="selectedRoute == 'id'">
          <input [(ngModel)]="StartLocation.nodeid" class="form-control" type="text"
                 placeholder="Enter startnode" name="StartNode">
          <input [(ngModel)]="TargetLocation.nodeid" class="form-control" type="text"
                 placeholder="Enter targetnode" name="TargetNode">
        </form>

    </form>
        <button class="btn btn-success" (click)="calculateRoute()">Search</button>
</nav>
